*{
    box-sizing: border-box;
}

h1, .title1 {
    font: 500 48px 'Raleway', sans-serif;
    line-height: 56px;
}

h2, .title2 {
    font: 400 36px 'Raleway', sans-serif;
    line-height: 42px;
    text-transform: uppercase;
}

h4, .title4 {
    font: 700 24px 'Open Sans', sans-serif;
    line-height: 33px;
}

.text1 {
    font: 400 18px 'Raleway', sans-serif;
    line-height: 21px;
}

.container1 {
    max-width: 1540px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.container2 {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    display: inline-block;
    width: 270px;
    height: 58px;
    border: 2px solid white;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    line-height: 25px;
    padding: 16.5px 0;
    text-align: center;
    font-weight: 600;
    outline: none;
}

.btn:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.btn:active {
    border: 2px solid #AB4949;
    background-color: #AB4949;
    color: #fff;
}

.header {
    padding: 0;
    background-color: black;
    font: 600 14px 'Open Sans', sans-serif;
}

.header__inner {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}


.header_logo {
    position: absolute;
    left: 16%;
}

.header_menu {
    margin: 0;
    padding-left: 0;
}

.header_menu_list{
}

.header_menu_list_item {
    display: inline-block;
    margin-right: -4px;
}

.header_menu_link {
    display: inline-block;
    min-width: 114px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 19px;
    padding: 28px 0;
}

.header_menu_link:hover {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    background: #EC7979;
    padding: 28.5px 0;
}

.header_menu_link:active {
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    background: #AB4949;
    padding: 28.5px 0;

}

.banner1 {
    background-color: blanchedalmond;
    padding-top: 231px;
    padding-bottom: 180px;
}

.banner1__inner {
    display: flex;
    justify-content: space-between;
}

.banner1_logo {
    margin-bottom: 73px;
}

.banner1_title {
    max-width: 670px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 55px;
    line-height: 56px;
}

.banner1 hr {
    width: 170px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-bottom: 42px;
    display: inline-block;
}

.banner1_p {
    max-width: 270px;
    margin-bottom: 42px;
    color: white;
}


.banner1_form {
    width: 470px;
    height: 450px;
    background-color:#fff;
    border-radius: 12px;
}

.banner1_form_title {
    padding: 28.5px 0;
    line-height: 33px;
    font-weight: 700;
    text-align:center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.input1 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 33px;
    margin-left: 50px;
    border: none;
    width: 370px;
    height: 38px;
    border-bottom: 1px solid black;
    color: #BDBDBD;
}


.form_btn {
    display: inline-block;
    background-color:#EC7979;
    text-align: center;
    width: 470px;
    border: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 15px;
    line-height: 20px;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin-top: 42px;
}

.form_btn:hover {
    background-color: #AB4949;
}

.form_btn:active {
    background-color:#EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.social {
    height: 140px;
    background: #F8EFEF;
}

.social_inner {
    display: flex;
    justify-content: space-between;
}

.social_title{
    font-size: 24px;
    padding: 18px 0;
    margin-bottom: 18px;
}

.social_p {
    max-width: 470px;
}

.social_list {
}

.social_list_item {
    display: inline-block;
    text-decoration: none;
    padding: 33px 0;
    padding-right: 40px;
}

.social_list_item:last-child {
    padding-right: 0;
}

.tabs {
    background-color: rgb(255, 255, 255);
    width: 82%;
    margin-left: 170px;
    border: 1px solid;
}

.tabs_list_1_title {
    margin-left: 100px;
    width: 570px;
    height: 124px;
    text-align:center;
    line-height: 100px;
    font-size: 30px;
}

.tabs_list_1_p {
    margin-left: 100px;
    width: 570px;
    height: 210px;
}

.tabs_list_1_button {
    margin-left: 100px;
    width: 270px;
    height: 58px;
    background: #EC7979;
    text-align: center;
    line-height: 55px;
}

.tabs_list_1_text {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
}

.tabs_list_1_img {
    margin-left: 1090px;
    margin-top: -392px;
}

.about {
    width: 82%;
    margin-left: 170px;
}

.about_title {
    font-size: 36px;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

.about_hr {
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
}

.about_p {
    text-align: center;
    margin-top: 40px;
}

.about_list {
    margin-left: 170px;
    margin-top: 71px;
}

.about_list_item {
    display: inline-block;
    width: 370px;
    height: 383px;
    margin-right: 5%;
}

.about_list_item_img {
    margin-left: 150px;
    margin-top: 30px;
}

.about_list_item_title {
    font-size: 24px;
    width: 369px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-transform: capitalize;
}

.about_list_item_p {
    text-align: center;
}

.price {
    height: 900px;
    background: #F5F5F5;
}

.price_title {
    height: 150px;
    text-align: center;
    line-height: 150px;
    text-transform: uppercase;
    font-size: 36px;
}

.price_p {
    padding-top: 40px;
    text-align: center;
}

.price_list {
    margin-left: 350px;
}

.price_list_item {
    display: inline-block;
    width: 370px;
    height: 510px;
    margin-top: 79px;
    margin-right: 4%;
}

.price_list_item_div1 {
    height: 60px;
    background-color: #333;
    border-bottom: 2px solid #F5F5F5;
    text-align: center;
    color: #F5F5F5;
    line-height: 60px;
    font-size: 24px;
    text-transform: capitalize;
}

.price_list_item_div2 {
    height: 100px;
    background-color: #333;
    border-bottom: 2px solid #F5F5F5;
    text-align: center;
    color: #F5F5F5;
    line-height: 100px;
    font-size: 36px;
    text-transform: capitalize;
}

.price_list_item_div3 {
    height: 50px;
    background-color: #333;
    border-bottom: 2px solid #F5F5F5;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 50px;
    text-transform: capitalize;
}

.top {
    margin-top: 49px;
}

.price_list_item_li {
    height: 50px;
    background-color: #fff;
    border: 1px solid #F5F5F5;
    text-align: center;
    line-height: 50px;
    text-transform: capitalize;
    color: #86878B;
    font-size: 18px;
}

.reviews {
    width: 82%;
    height: 630px;
    margin-left: 170px;
}

.reviews_title {
    height: 150px;
    text-align: center;
    line-height: 150px;
    text-transform: uppercase;
    font-size: 36px;
    color: black;
}

.bq-bg {
    width: 370px;
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
    text-align: center;
}

blockquote {
    font-size: 18px;
    padding-top: 35px;
    margin-left: 20px;
    width: 320px;
}

.reviews_list_item_title {
    width: 269px;
    height: 54px;
    font-size: 24px;
    line-height: 54px;
    margin-left: 100px;
    margin-top: 45px;
}

.reviews_list_item_p {
    width: 270px;
    height: 21px;
    font-size: 18px;
    margin-left: 100px;
    margin-top: -20px;
}

.reviews_list_item_img {
    margin-top: -40px;
}

.polygon {
    margin-left: 65px;
}

.banner2{
    background: #00000080;
    margin-top: 40px;
    height: 442px;
}

.white_text{
    color: #fff;
}

.whiteline {
    border: 1px solid #fff;

}

.banner2_button {
    width: 270px;
    height: 58px;
    text-align:center;
    border: 1px solid white;
    font-size: 18px;
    line-height: 58px;
    margin-left: 43%;
    margin-top: 70px;
}

.banner2_button_text {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

.contact {
    width: 82%;
    height: 622px;
    margin-left: 170px;
}

.contact_form {

}

.contact_form_input {
    display: block;
    border: none;
    margin-top: 20px;
    width: 370px;
    height: 38px;
    margin-left: 300px;
    border-bottom: 1px solid black;
    color: #BDBDBD;
}

.contact_form_p {
    color: #BDBDBD;
    font-size: 14px;
    margin-left: 800px;
    margin-top: -160px;
}

.contact_form_textarea {
    display: block;
    border: none;
    margin-top: 20px;
    margin-left: 800px;
    border-bottom: 1px solid black;
    width: 569px;
    height: 120px;
}

.contact_button {
    width: 270px;
    height: 58px;
    text-align:center;
    font-size: 18px;
    line-height: 58px;
    margin-left: 42%;
    margin-top: 70px;
    background-color: #EC7979;
}

.contact_button_text {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}


.footer {
    background-color: black;
    height: 164px;
}

.footer_list {
    padding-left:35%;
    padding-top: 40px;
}

.footer_list_item {
    display: inline;
    margin-right: 30px;
    text-decoration: none;
}

.footer_p {
    color: rgba(255, 255, 255, 0.336);
    text-align: center;
    margin-top: 20px;
}