*{
    box-sizing: border-box;
}

h1, .title1 {
    font: 500 48px 'Raleway', sans-serif;
    line-height: 56px;
}

h2, .title2 {
    font: 400 36px 'Raleway', sans-serif;
    line-height: 42px;
    text-transform: uppercase;
}

h3, .title3 {
    font: 700 30px 'Open Sans', sans-serif;
    line-height: 41px;
}

h4, .title4 {
    font: 700 24px 'Open Sans', sans-serif;
    line-height: 33px;
}


.text1 {
    font: 400 18px 'Raleway', sans-serif;
    line-height: 21px;
}

.text2 {
    font: 400 14px 'Open Sans', sans-serif;
    line-height: 19px;
}

.text3 {
    font: 700 36px 'Raleway', sans-serif;
    line-height: 42px;
}

.form_text {
    font: 400 14px 'Open Sans', sans-serif;
    line-height: 19px;
}

.container1 {
    max-width: 1540px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.container2 {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    font: 600 18px 'Open Sans', sans-serif;
    line-height: 25px;
    display: inline-block;
    width: 270px;
    height: 58px;
    border: 2px solid white;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    padding: 15px 0;
    text-align: center;
    outline: none;
}

.btn:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.btn:active {
    border: 2px solid #AB4949;
    background-color: #AB4949;
    color: #fff;
}

.header {
    padding: 0;
    background-color: black;
    font: 600 14px 'Open Sans', sans-serif;
}

.header__inner {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}


.header_logo {
    position: absolute;
    left: 16%;
}

.header_menu {
    margin: 0;
    padding-left: 0;
}

.header_menu_list{
}

.header_menu_list_item {
    display: inline-block;
    margin-right: -4px;
}

.header_menu_link {
    display: inline-block;
    min-width: 114px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 19px;
    padding: 28px 0;
}

.header_menu_link:hover {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    background: #EC7979;
    padding: 28.5px 0;
}

.header_menu_link:active {
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    background: #AB4949;
    padding: 28.5px 0;

}

.banner1 {
    padding-top: 231px;
    padding-bottom: 180px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/main-banner.jpg") 50% 50% no-repeat;
    background-size: cover;

}

.banner1__inner {
    display: flex;
    justify-content: space-between;
}

.banner1_logo {
    margin-bottom: 73px;
}

.banner1_title {
    max-width: 670px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 55px;
    line-height: 56px;
}

.banner1 hr {
    width: 170px;
    height: 0px;
    border: 1px solid #FFFFFF;
    margin-bottom: 42px;
    display: inline-block;
}

.banner1_p {
    max-width: 270px;
    margin-bottom: 42px;
    color: white;
}


.banner1_form {
    width: 470px;
    height: 450px;
    background-color:#fff;
    border-radius: 12px;
}

.banner1_form_title {
    padding: 28.5px 0;
    line-height: 33px;
    font-weight: 700;
    text-align:center;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.input1 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 33px;
    margin-left: 50px;
    border: none;
    width: 370px;
    height: 38px;
    border-bottom: 1px solid black;
    color: #BDBDBD;
}


.form_btn {
    display: inline-block;
    background-color:#EC7979;
    text-align: center;
    width: 470px;
    border: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 15px;
    line-height: 20px;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    margin-top: 42px;
}

.form_btn:hover , .btn2:hover {
    background-color: #AB4949;
}

.form_btn:active , .btn2:active {
    background-color:#EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.social {
    height: 140px;
    background: #F8EFEF;
}

.social_inner {
    display: flex;
    justify-content: space-between;
}

.social_title{
    font-size: 24px;
    padding: 18px 0;
    margin-bottom: 18px;
}

.social_p {
    max-width: 470px;
}

.social_list {
}

.social_list_item {
    display: inline-block;
    text-decoration: none;
    padding: 33px 0;
    padding-right: 40px;
}

.social_list_item:last-child {
    padding-right: 0;
}

.tabs {
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
}

.tab_ul {
    display: flex;
    justify-content: flex-start;
}

.tab {
    height: 37px;
    width: 203px;
    padding-top: 10px;
    padding-bottom: 11px;
    text-align: center;
}

.tab:hover {
    border: 1px solid black;
    border-bottom: 1px solid white;
    z-index: 2;
}

.tabs_list {
    border: 1px solid black;
    z-index: 1;
}

.tabs_inner {
    display: flex;
    justify-content: space-between;
}

.tabs_list_1_title {
    margin-left: 100px;
    margin-top: 42px;
    margin-bottom: 69px;
}

.tabs_list_1_p {
    margin-left: 100px;
    max-width: 570px;
    margin-bottom: 27px;
}

.btn2 {
    margin-left: 100px;
    display: inline-block;
    width: 270px;
    height: 58px;
    background: #EC7979;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font: 600 18px 'Open Sans', sans-serif;
    line-height: 25px;
    padding: 15px 0;
}




.tabs_list_1_img {
}

.about {
}

.about_title {
    text-align: center;
    margin-top: 104px;
    margin-bottom: 54px;
}

.about_hr {
    width: 170px;
    height: 0px;
    border: 1px solid #EC7979;
    margin-bottom: 40px;
}

.about_p {
    text-align: center;
    margin-bottom: 71px;
}

.about_list {
    display: flex;
    justify-content: space-between;
}

.about_list_item {
    text-align: center;
    width: 370px;
}

.about_list_item_img {
}

.about_list_item_title {
    text-transform: capitalize;
    margin: 33px auto;
}

.about_list_item_p {
    margin-top: 8px;
    text-align: center;
    margin-bottom: 58px;
}

.price {
    background: #F5F5F5;
}

.price_title {
    padding-top: 104px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 54px;
}

.price_p {
    text-align: center;
}

.price_list {
    display: flex;
    justify-content: space-between;
}

.price_list_item {
    width: 370px;
    margin-bottom: 50px;
}

.price_list_item:hover {
    position: relative;
    bottom: 20px;
    box-shadow: 0px 0px 10px #333;
}

.price_list_item_div1 {
    background-color: #333;
    border-bottom: 2px solid #F5F5F5;
    text-align: center;
    color: #F5F5F5;
    text-transform: capitalize;
    padding-top: 14px;
    padding-bottom: 14px;
}

.price_list_item_div2 {
    height: 100px;
    background-color: #333;
    border-bottom: 2px solid #F5F5F5;
    text-align: center;
    color: #F5F5F5;
    line-height: 100px;
    font-size: 36px;
    text-transform: capitalize;
}

.price_list_item_div3 {
    height: 50px;
    background-color: #333;
    border-bottom: 2px solid #F5F5F5;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 50px;
    text-transform: capitalize;
}


.price_list_item_li {
    height: 50px;
    background-color: #fff;
    border: 1px solid #F5F5F5;
    text-align: center;
    line-height: 50px;
    text-transform: capitalize;
    color: #86878B;
    font-size: 18px;
}

.reviews {
}

.reviews_title {
    margin-top: 104px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 54px;
}

.reviews_p {
    text-align: center;
    margin-bottom: 83px;
}

.bq-bg {
    width: 370px;
    background: #E2E2E2;
    border-radius: 10px;
}

.bq {
    text-align: center;
    padding-top: 38px;
    padding-bottom: 38px;
}

.rev_sectiom {
    margin-top: 66px;
    display: flex;
    justify-content: flex-start;
}


.reviews_list_item_title {
    text-align: center;
    margin-bottom: 30px;
}

.reviews_list_item_p {
    text-align: left;
    margin-bottom: 64px;
}

.reviews_list_item_img {
    align-self: flex-start;
    margin-right: 25px;
    object-fit: none;
}

.polygon {
    position: relative;
    top: 20px;
    right: 100px;
}

.banner2{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url("../images/banner2.png") 50% 50% no-repeat;
    background-size: cover;
}

.banner2_title {
    padding-top: 104px;
    text-align: center;
    color: #fff;
    margin-bottom: 54px;
}

.whiteline {
    border: 1px solid #fff;
}

.banner2_p {
    color: #fff;
    text-align: center;
    margin-bottom: 73px;
}

.banner2_button {
    width: 270px;
    text-align:center;
    border: 1px solid white;
}

.banner2_button_text {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
.banner2_btn  {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.contact_title {
    text-align: center;
    margin-top: 104px;
    margin-bottom: 54px;
}

.contact_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 70px 70px 70px 110px;
    margin-bottom: 50px;
}
.div1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.contact_p {
    text-align: center;
    margin-bottom: 89px;
}


.in1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 38px;
    align-self: flex-end;
    max-width: 570px;
    border: none;
    border-bottom: 1px solid #bdbdbd;

}
.in2 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 38px;
    align-self: flex-end;
    max-width: 570px;
    border: none;
    border-bottom: 1px solid #bdbdbd;


}
.in3 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 38px;
    align-self: flex-end;
    max-width: 570px;
    border: none;
    border-bottom: 1px solid #bdbdbd;

}
.texta {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    border: none;
    border-bottom: 1px solid #bdbdbd;
}
.btn3 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    width: 370px;
    height: 58px;
    border: none;
    color: white;
    align-self: flex-end;
    margin: 0 auto;
}


.footer {
    background-color: black;
    height: 164px;
}

.footer_list {
    padding-left:35%;
    padding-top: 40px;
}

.footer_list_item {
    display: inline;
    margin-right: 30px;
    text-decoration: none;
}

.footer_p {
    color: rgba(255, 255, 255, 0.336);
    text-align: center;
    margin-top: 20px;
}